In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient('localhost')

In [4]:
 db = client.packt

In [5]:
testCollection = db.testCollection

In [6]:
testCollection.insert_one({'name':'Alice','salary':50000})
testCollection.insert_one({'name':'Bob','salary':40000})
testCollection.insert_one({'name':'Charlie','salary':60000})

In [7]:
res = testCollection.update_one({'name' : 'Alice'},{'$set' : {'salary':55000}})

In [8]:
res.acknowledged

True

In [9]:
testCollection.find_one({'name':'Alice'})

{'_id': ObjectId('5dd2d65826fbfc5722a370d4'), 'name': 'Alice', 'salary': 55000}

In [10]:
testCollection.update_one({'name': 'Alice'}, {'$unset':{"salary":""}})

In [11]:
testCollection.find_one({'name':'Alice'})

{'_id': ObjectId('5dd2d65826fbfc5722a370d4'), 'name': 'Alice'}

In [12]:
res.acknowledged

True

In [13]:
pipeline=[]

In [14]:
pipeline.append({"$match":{"salary":{'$exists':"True"}}})

In [15]:
pipeline.append({'$group':{"_id":None,"avSalary":{"$avg":"$salary"},"totalSalary":{"$sum":"$salary"}}})

In [16]:
cur = testCollection.aggregate(pipeline=pipeline)

In [17]:
cur.next()

{'_id': None, 'avSalary': 50000.0, 'totalSalary': 250000}

In [18]:
for d in testCollection.find():
    print (d)

{'_id': ObjectId('5dd2d65826fbfc5722a370d4'), 'name': 'Alice'}
{'_id': ObjectId('5dd2d65826fbfc5722a370d5'), 'name': 'Bob', 'salary': 40000}
{'_id': ObjectId('5dd2d65826fbfc5722a370d6'), 'name': 'Charlie', 'salary': 60000}
{'_id': ObjectId('5dd31dc1b0b1293c58ae5183'), 'name': 'Alice', 'salary': 50000}
{'_id': ObjectId('5dd31dc1b0b1293c58ae5184'), 'name': 'Bob', 'salary': 40000}
{'_id': ObjectId('5dd31dc1b0b1293c58ae5185'), 'name': 'Charlie', 'salary': 60000}

In [19]:
testCollection.drop()

In [20]:
testCollection.insert_one({'name':'Alice','salary':50000,'unit' : 'legal'})
testCollection.insert_one({'name':'Bob','salary':40000,'unit' : 'marketing'})
testCollection.insert_one({'name':'Charlie','salary':60000, 'unit' : 'communications'})
testCollection.insert_one({'name' : 'David','salary' : 70000, 'unit' : 'legal'})
testCollection.insert_one({'name':'Edwina','salary' : 90000, 'unit' : 'communications'})

In [22]:
pipeline=[]
pipeline.append(
    {'$group':
         {"_id":"$unit","avSalary":
              {"$avg":"$salary"},"totlatSalary":
                  {"$sum":"$salary"}}})

In [23]:
cur=testCollection.aggregate(pipeline=pipeline)

In [24]:
for d in cur:
    print (d)

{'_id': 'communications', 'avSalary': 75000.0, 'totlatSalary': 150000}
{'_id': 'legal', 'avSalary': 60000.0, 'totlatSalary': 120000}
{'_id': 'marketing', 'avSalary': 40000.0, 'totlatSalary': 40000}

In [25]:
sc

''