<h2>Import pymongo</h2>

In [10]:
import pymongo

In [11]:
from pymongo import MongoClient

<h2>Connect to database

In [12]:
client = MongoClient('localhost')

In [13]:
db = client.packt

In [14]:
coll = db.embedded

<h2>Insert a document with nested array

In [15]:
res = coll.insert_one({'ages' : [30,42,12,19]})

In [16]:
res = coll.insert_one({'ages' : [18,27,25,19]})

In [17]:
res = coll.insert_one({'ages' : [30,27,12,1]})

<h2>Match entire array

In [18]:
coll.find_one({'ages' : [30,42,12,19]}),{'_id' : 0}

({'_id': ObjectId('5db8c5085744ac4bbb514c71'), 'ages': [30, 42, 12, 19]},
 {'_id': 0})

<h2>Match on presence of elemet in array

In [19]:
coll.find_one({'ages' : 11}, {'_id' : 0})

<h2>Match array with conditions on any elemets in array

In [20]:
coll.find_one({'ages' : {'$gt':40,'$lt':20}},{'_id':0})

{'ages': [30, 42, 12, 19]}

In [21]:
coll.find_one({'ages' : {'$elemMatch' : {'$lt' : 12, '$gt' : 1}}},{'_id' : 0})

In [22]:
coll.find_one({'ages.3' : {'$lt':4}}, {'_id' : 0})

{'ages': [30, 27, 12, 1]}

<h2>Insert a document with nested dictionary

In [62]:
res = coll.insert_one({'personInfo' : {'name' : 'Alice', 'age' : 30}})
res = coll.insert_one({'personInfo' : {'name' : 'Bob', 'age' : 42}})
res = coll.insert_one({'personInfo' : {'name' : 'Charlie', 'age' : 12}})
res = coll.insert_one({'personInfo' : {'name' : 'David', 'age' : 19}})

In [ ]:
<h2>Match by name

In [65]:
coll.find_one({'personInfo.name' : 'Alice'},{'_id':0})

{'personInfo': {'name': 'Alice', 'age': 30}}

<h2>Match by age

In [66]:
coll.find_one({'personInfo.age' : {'$gt' : 40}},{'_id':0})

{'personInfo': {'name': 'Bob', 'age': 42}}